{% extends "nobase.html" %}
{% block body_block %}
<table>
    <tr>
    <th>ItemCode</th>
    <th>ItemName</th>
    <th>Item_Catogory</th>
    <th>HSNCode</th>
    <th>Quatity Left</th>
    <th>Unit</th>
    <th>Rate_Of_Sale</th>
    <th>IGST%</th>
    <th>CGST%</th>
    <th>SGST%</th>
    <th>GST_Type</th>
  </tr>
        {% for obj in showsaledata_gst %}
      <tr>
            <td>{{ obj.Item_Code }}</td>
            <td>{{ obj.Item_Name }}</td>
            <td>{{ obj.Item_Catogory }}</td>
            <td>{{ obj.HSN_Code }}</td>
            <td>{{ obj.Quatity_in_stock }}</td>
            <td>{{ obj.Unit }}</td>
            <td>{{ obj.Rate_Of_Sale }}</td>
            <td>{{ obj.IGST_Percent }}</td>
            <td>{{ obj.CGST_Percent }}</td>
            <td>{{ obj.SGST_Percent }}</td>
            <td>{{ obj.GST_Type }}</td>
            </tr>
        {% endfor %}
      </table>
      {% endblock %}
